// Contacts page
#contacts-page {
	display: flex;
	flex-direction: column;
	gap: 15em;

	* {
		margin: 0;
	}

	h1 {
		font-size: 3.5em;
	}

	p {
		font-size: 1.8em;
	}

	#about-section {
		display: flex;
		flex-direction: row;
		background-color: var(--accent-lightpeach);
		height: 50em;

		#about-content {
			display: flex;
			flex-direction: column;
			padding-top: 5em;
			width: 50%;

			#about-title {
				margin: 0.5em 1.5em;
				font-weight: 800;
				color: var(--accent-black);
			}

			#about-desc {
				margin: 0 3em;
				color: var(--accent-black);
			}
		}

		#about-img-section {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

			#about-img-container {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 25em;
				height: 25em;
				transform: translate(-20%, -30%);

				#about-img-background-1 {
					z-index: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 25em;
				}

				#about-img-background-2 {
					z-index: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 20em;
					transform: translate(60%, 80%);
				}
			}

			.about-img {
				width: 100%;
				border: 1em solid rgba(#ff7b17, 0.3);
			}
		}
	}

	#contact-section {
		display: flex;
        justify-content: center;

		#contact-form-wrapper {
            position: relative;
            height: 46.5em;
            width: 91.1em;

			#contact-form-container {
				position: absolute;
                bottom: 0;
				padding: 4em 7em 2em 5em;
				width: 50em;
				background-color: var(--accent-lightpeach);
				border-radius: 5em;

				h2 {
					font-size: 2.5em;
				}

				form {
					display: flex;
					flex-direction: column;
					gap: 1.5em;

					.input-row {
						display: flex;
						gap: 1.5em;

						input {
							width: auto;
							padding: 1em;
							border: none;
							border-radius: 2em;
							font-size: 1.2em;
							background-color: var(--accent-white);
							// box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
						}
					}

					.input-container {
						display: flex;
						flex-direction: column;
						gap: 0.5em;
						width: 100%;
					}

					.required-star {
						color: var(--accent-red);
						font-size: 1.2em;
					}

					label {
						font-size: 1.2em;
						margin-left: 1em;
					}

					.textarea-container {
						display: flex;
						flex-direction: column;
						justify-content: center;
						gap: 0.5em;
						width: 100%;
						height: 15em;
						border-radius: 1em;
						overflow: hidden;
						background-color: var(--accent-white);

						textarea {
							outline: none;
							font-family: 'Raleway', sans-serif;
							padding: 1em;
							border: none;
							resize: none;
							font-size: 1.2em;
							border-radius: 1em;
							background-color: var(--accent-white);
							// box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
							// height: 8em;
							height: 75%;
							width: auto;
						}
					}

					button {
						align-self: flex-start;
						padding: 1em 2em;
						font-size: 1.2em;
						border: none;
						border-radius: 2em;
						background-color: var(--accent-brightorange);
						color: var(--accent-white);
						cursor: pointer;
						// box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
					}
				}

				#contact-form-title {
					position: absolute;
					top: -5%;
					left: 10%;
					width: 50%;
					padding: 1em 3em;
					background-color: var(--accent-brightorange);
					border-radius: 2.5em;
					color: var(--accent-white);
				}

				#address-container {
					position: absolute;
					top: 15%;
					right: -47%;
					padding: 2em;
					background-color: var(--accent-brightorange);
					border-radius: 2em 5em 5em 2em;
					width: 30em;
					color: var(--accent-white);

					h2 {
						margin-bottom: 1em;
					}

					p {
						font-size: 1.5em;
						line-height: 1.8;
					}
				}
			}
		}
	}

	#faq-section {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: var(--accent-lightpeach);
		// padding: 2rem;
		width: 100%;
		height: 60em;

		p {
			margin: 0;
			font-size: 1.2em;
		}

		#faq-header {
			text-align: center;
			margin-bottom: 0;

			h1 {
				font-size: 2.5rem;
				font-weight: 700;
				margin-bottom: 3rem;
				color: var(--accent-orange);
			}
		}

		#faq-content {
			display: flex;
			// gap: 1.5rem;
			width: 100%;

			#faq-img-container {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				margin-top: 0;

				#faq-img-background {
					width: 40em;

					.faq-img {
						width: 100%;
						border: 1em solid rgba(#ff7b17, 0.3);
					}
				}
			}

			#faq-items-container {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				width: 100%;
				margin-top: 0;

				#faq-items {
					// width: 100%;
					max-width: 40em;
					margin-top: 0;
					display: flex;
					flex-direction: column;
					border: 1px solid #ddd;
					border-radius: 1em;
					overflow: hidden;

					.faq-item {
						margin: 0;
						border-bottom: 1px solid #ddd;
						border-top: none;
						transition: all 0.3s ease;
						overflow: hidden;

						&:last-child {
							border-bottom: none;
						}

						.faq-question {
							display: flex;
							justify-content: space-between;
							align-items: center;
							background-color: #fff;
							padding: 1.5rem;
							cursor: pointer;
							font-weight: 600;
							transition:
								background-color 0.1s ease-in-out,
								color 0.1s ease;
							h3 {
								margin: 0;
								font-size: 1.25rem;
								color: #333;
							}
							span {
								font-size: 1.5rem;
								color: #666;
							}
						}

						&.open .faq-question {
							background-color: rgba(#ff7b17, 0.3);
							color: #333;

							h3,
							span {
								color: #333;
							}
						}

						.faq-answer {
							background-color: rgba(#ff7b17, 0.3);
							padding: 0 1.5rem;
							max-height: 0;
							opacity: 0;
							overflow: hidden;
							transition:
								max-height 0.2s ease-in-out,
								padding 0.2s ease-in-out;
							&.visible {
								opacity: 1;
								padding: 1.5rem; /* Padding is added once fully opened */
								transition: opacity 0.15s ease-in-out;
							}
						}
					}
				}
			}
		}
	}
}
